html {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    background: url(img/background.png) repeat;
}

h3 {
    font-weight: 300;
    font-size: 3rem;
    line-height: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    text-transform: uppercase;
}

p {
    line-height: 2.3rem;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 400;
}

.body-text, .cards-container {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

#header-container { 
    width: 100%;
    text-align: center; /* ensures the image is always in the h-middle */ 
    overflow: hidden; /* hide the cropped portion */ 
} 

#banner {
    position: relative; /* allows repositioning */
    left: 100%; /* move the whole width of the image to the right */ 
    margin-left: -200%; /* magic! */
}

.white-text {
    color: #f2f2f2;
}

.blue-background {
    background-color: #05386B;
}

.text-container {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4rem;
    padding-right: 4rem;
}

.cards-container {
    width: 100%;
}

.card {
    width: 75%;
    background-color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight : 400;
    font-size: 1.15rem;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.card-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 300;
}

.card-footer {
    border-top: 1px solid #ddd;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 300;
}

@media (min-width: 0px) {
    #banner {
        width: 800px;
    }
    p {
        font-size: 1rem;
    }
}

@media (min-width: 600px) {
    #banner {
        width: 900px;
    }
}


@media (min-width: 768px) {
    #banner {
        width: 1200px;
    }
}


@media (min-width: 992px) {
    #banner {
        width: 1600px;
    }

    p {
        font-size: 1.2rem;
    }
}


@media (min-width: 1300px) {
    #banner {
        width: 100%;
    }
}

@media (min-width: 2000px) {
    #banner {
        width: 2000px;
    }
}